{block content}
    <section>    
        <h2 n:block="title"> Hlavní strana </h2>
    </section>
    <section>
        <span class="text_style0">
            Aktuality:
        </span>
    </section>
{/block}

{block head}
<style>
</style>
{/block}
